name: CodSpeed

permissions: {}

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: ${{ github.ref_name != 'main' }}

jobs:
  benchmarks:
    name: Run benchmarks
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: taiki-e/checkout-action@b13d20b7cda4e2f325ef19895128f7ff735c0b3d # v1.3.1

      - uses: oxc-project/setup-rust@ecabb7322a2ba5aeedb3612d2a40b86a85cee235 # v1.0.11
        with:
          save-cache: ${{ github.ref_name == 'main' }}

      - name: Build benchmarks
        run: cargo bench --no-run
        env:
          RUSTFLAGS: ""

      - name: Run benchmarks
        uses: CodSpeedHQ/action@4bb84e5cb5a491a06d7bb6c29ec69b487ab5d46c # v4.4.1
        with:
          mode: simulation
          upload: true
          token: ${{ secrets.CODSPEED_TOKEN }}
          run: cargo bench
