name: CodSpeed
permissions: {}
true:
  workflow_dispatch: null
  pull_request:
    types:
    - opened
    - synchronize
  push:
    branches:
    - main
defaults:
  run:
    shell: bash
jobs:
  benchmarks:
    name: Run benchmarks
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
    - uses: taiki-e/checkout-action@b13d20b7cda4e2f325ef19895128f7ff735c0b3d
    - uses: oxc-project/setup-rust@ecabb7322a2ba5aeedb3612d2a40b86a85cee235
      with:
        save-cache: ${{ github.ref_name == 'main' }}
        tools: cargo-codspeed@4.4.1
    - name: Build the benchmark target(s)
      run: cargo codspeed build
    - name: Run the benchmarks
      uses: CodSpeedHQ/action@v4.4.1
      with:
        upload-url: ${{ secrets.CODSPEED_FRANCOIS_DEV_UPLOAD_URL }}
        mode: simulation
        run: cargo codspeed run
