name: CodSpeed Benchmarks
permissions:
  contents: read
  id-token: write
on:
  push:
    branches:
      - main
  pull_request: null
  workflow_dispatch: null
defaults:
  run:
    shell: bash
jobs:
  benchmarks:
    name: Run benchmarks
    runs-on: ubuntu-latest
    steps:
      - uses: taiki-e/checkout-action@b13d20b7cda4e2f325ef19895128f7ff735c0b3d
      - uses: oxc-project/setup-rust@ecabb7322a2ba5aeedb3612d2a40b86a85cee235
        with:
          save-cache: ${{ github.ref_name == 'main' }}
      - name: Install cargo-binstall
        run: curl -L --proto '=https' --tlsv1.2 -sSf
          https://raw.githubusercontent.com/cargo-bins/cargo-binstall/main/install-from-binstall-release.sh
          | bash
      - name: Install cargo-codspeed
        run: cargo binstall cargo-codspeed --no-confirm
      - name: Build benchmarks
        run: cargo codspeed build
      - name: Run benchmarks
        uses: CodSpeedHQ/action@v4.4.1
        with:
          upload-url: ${{ secrets.CODSPEED_STAGING_UPLOAD_URL }}
          mode: simulation
          run: cargo codspeed run
