name: CodSpeed Benchmarks
permissions:
  contents: read
  id-token: write
true:
  workflow_dispatch: null
  pull_request:
    types:
    - opened
    - synchronize
  push:
    branches:
    - main
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha
    }}
  cancel-in-progress: ${{ github.ref_name != 'main' }}
defaults:
  run:
    shell: bash
jobs:
  benchmarks:
    name: Run benchmarks
    runs-on: ubuntu-latest
    steps:
    - uses: taiki-e/checkout-action@b13d20b7cda4e2f325ef19895128f7ff735c0b3d
    - name: Setup rust toolchain, cache and cargo-codspeed binary
      uses: moonrepo/setup-rust@ede6de059f8046a5e236c94046823e2af11ca670
      with:
        channel: stable
        cache-target: release
        bins: cargo-codspeed
    - name: Build the benchmark target(s)
      run: cargo codspeed build
    - name: Run the benchmarks
      uses: CodSpeedHQ/action@e14ffddc8c5bcbb75c78e06d005ac8b0b61e691b
      with:
        upload-url: ${{ secrets.CODSPEED_FRANCOIS_DEV_UPLOAD_URL }}
        mode: simulation
        run: cargo codspeed run
