name: CodSpeed
permissions:
  contents: read
  id-token: write
on:
  push:
    branches:
      - main
  pull_request: null
  workflow_dispatch: null
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: ${{ github.ref_name != 'main' }}
defaults:
  run:
    shell: bash
env:
  CARGO_INCREMENTAL: 0
jobs:
  benchmarks:
    name: Run benchmarks
    runs-on: ubuntu-latest
    steps:
      - uses: taiki-e/checkout-action@b13d20b7cda4e2f325ef19895128f7ff735c0b3d
      - uses: oxc-project/setup-rust@ecabb7322a2ba5aeedb3612d2a40b86a85cee235
        with:
          cache-target: release
      - name: Install cargo-codspeed
        uses: taiki-e/install-action@4feaa3f325dd1208c144c1eb4782ef63081fcf22
        with:
          tool: cargo-codspeed
      - name: Build the benchmark target(s)
        run: cargo codspeed build
      - name: Run the benchmarks
        uses: CodSpeedHQ/action@v4.4.1
        with:
          upload-url: ${{ secrets.CODSPEED_FRANCOIS_DEV_UPLOAD_URL }}
          mode: simulation
          run: cargo codspeed run
