name: CodSpeed Benchmarks

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  benchmarks:
    name: Run benchmarks
    runs-on: ubuntu-latest
    steps:
      - uses: taiki-e/checkout-action@b13d20b7cda4e2f325ef19895128f7ff735c0b3d # v1.3.1

      - uses: oxc-project/setup-rust@ecabb7322a2ba5aeedb3612d2a40b86a85cee235 # v1.0.11
        with:
          save-cache: ${{ github.ref_name == 'main' }}

      - name: Install cargo-codspeed
        run: cargo install cargo-codspeed

      - name: Build benchmarks
        run: cargo codspeed build

      - name: Run benchmarks
        uses: CodSpeedHQ/action@v4.4.1
        with:
          mode: simulation
          run: cargo codspeed run
